
@(searchForm : Form[Search])
@import helper._
<!DOCTYPE html>
<html>
<head>
<title>GITTERIFIC</title>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
<style>

    </style>
</head>

<body>
    <div class="background-primary header">
        <h1>Welcome to Gitterific</h1>
    </div>
 	<div class=" background-secondary main-search">
            <div class="wrap">
                <div class="search">
                    @helper.form(action = routes.HomeController.getSearchResult()){
                        @helper.inputText(searchForm("searchResult"))
                        <input type="submit" value="Search...">
                    }

                </div>
            </div>
  	<div>
</body>

</html>
