@import model.KeywordModel
@import model.Repositories
@import java.util
@(searchForm : Form[KeywordModel], repos: util.List[Repositories])
@import helper._
<!DOCTYPE html>
<html>
<head>
<title>GITTERIFIC</title>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
<style>

    </style>
</head>

<body>
    <div class="background-primary header">
        <h1>Welcome to Gitterific</h1>
    </div>
 	<div class=" background-secondary main-search">
            <div class="wrap">
                <div class="search">
                    @helper.form(action = routes.HomeController.getSearchResult()){
                        <input type="text" id="keyword" name="keyword">
                        <input type="submit" value="Search for the keyword">
                    }

                </div>
            </div>
  	<div>
  	<div>
  	@for(repo <- repos) {
        <li><a href="#">@repo.getFull_name</a></li>
    }
  	</div>
</body>

</html>
